# Project exclude paths
/project/project/target/
/project/target/
/target/
.bsp
.idea
document-service/document-api-grpc/project/target
document-service/document-api-grpc/target
/document-service/project/target
/document-service/target
/customer-service/project/target
/customer-service/target