# Project exclude paths
/project/project/target/
/project/target/
/target/
.bsp
.idea
document/document-api-grpc/project/target
document/document-api-grpc/target
/document/project/target
/document/target
/customer/project/target
/customer/target